.devlog {
    margin-top: 2%;
}
.vlog {
    padding: 10px;
    border: 2px groove white;
    width: 600px;
    margin-bottom: 10px;
}


@media (max-width: 576px){
    .vlog {
        width: 400px;
        font-size: small;
    }
}

@media (max-width: 430px){
    .vlog {
        width: 300px;
        font-size: small;
    }
}
