.identity {
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 5%;

}

.identity-content {
    border: 3px ridge white;
    width: 550px;
    text-align: start;
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.socials button {
    font-size: smaller;
    font-family: 'Press Start 2P', cursive;
    padding: 9px;
    border-radius: 7px;
    cursor: pointer;
}


@media (max-width: 576px){
    .identity-content {
        font-size: 7px;
        width: 400px;
    }
}


@media (max-width: 430px){
    .identity-content {
        font-size: 7px;
        width: 300px;
    }
}