.skill-content {
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

}

.skill-content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.skill-list {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.skill-list h5, h4 {
    text-align: center;
    margin: -0.5px;
    margin-bottom: 2px;
}

.l {
    border: 1px solid white;
}

